{% extends "base.html" %}
{% block content %}
  <h1>Register as Doctor</h1>
  <form method="POST">
    <input name="name" placeholder="Full name" required><br><br>
    <input name="email" placeholder="Email" type="email" required><br><br>
    <input name="specialization" placeholder="Specialization" required><br><br>
    <input name="password" placeholder="Password" type="password" required><br><br>
    <button type="submit">Register</button>
  </form>
  <p>Already registered? <a href="{{ url_for('login_doctor') }}">Login here</a></p>
{% endblock %}
